            /* 7. Experience CSS
/*----------------------------------------*/
            
            .experience-area {
                position: relative;
                margin-top: 0px;
                margin-bottom: 0px;
                padding: 120px 0px 120px 0px;
                background-color: #1f2235;
            }
            
            .feature-box {
                padding: 30px 30px 30px 30px;
                background-color: #313552;
                text-align: left;
                border-radius: 0px 0px 0px 0px;
                transform: translateY(0);
                transition-duration: 0.3s;
                margin-bottom: 30px;

                .feature-icon {
                    width: 72px;
                    height: 72px;
                    overflow: hidden;
                    line-height: 72px;
                    font-size: 20px;
                    color: $light-cyan;
                    background-color: #1f2235;
                    text-align: center;
                    float: left;
                    margin: 0px 30px 50px 0px;
                    padding: 0px 0px 0px 0px;
                    border-radius: 2% 2% 2% 2%;
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        opacity: 0;
                        transition: 0.5s;
                        background-color: $light-cyan;
                    }
                }

                .feature-title {
                    font-family: "Open Sans", Sans-serif;
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.65);
                    margin: 0px 0px 20px 0px;
                    padding: 0px 0px 0px 0px;
                    transition-duration: 0.3s;
                }

                .feature-content p {
                    font-family: "Playfair Display", Sans-serif;
                    font-size: 26px;
                    font-weight: 700;
                    color: #ffffff;
                    margin: 0px 0px 0px 0px;
                    padding: 0px 0px 0px 0px;
                }

                &:hover {
                    border-radius: 0px 0px 0px 0px;
                    transform: translateY(0);

                    .feature-icon {
                        color: #1f2235;
                        border-radius: 0% 0% 0% 0%;
                    }

                    .feature-icon:before {
                        opacity: 1;
                    }
                }
            }
            
            /*-- Qualification-Style --*/
            
            .qualifi-box {
                display: flex;
                position: relative;
                width: 100%;

                .qualifi-content {
                    padding-bottom: 30px;
                    position: relative;
                    padding-left: 15px;
                    .title {
                        font-size: 20px;
                        font-weight: 400;
                    }
                    .desc {
                        width: 255px;
                        height: 66px;
                        font-size: 14px;
                        line-height: 26px;
                        font-weight: 400;
                    }
    
                }
                .qualifi-info {
                    position: relative;
                    text-align: right;
                    width: 200px;
                    padding-right: 15px;
                    border-right: 1px solid #4d5368;
                }
                
                .qualifi-info .session {
                    font-size: 18px;
                    margin-bottom: 10px;
                    color: $light-cyan;
                    font-weight: 400;
                }
                .qualifi-info .session:after {
                    content: "";
                    font-size: 15px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    -webkit-transform: translate( 50%, 0);
                    transform: translate( 50%, 0);
                    width: 0;
                    height: 0;
                    border: 3px solid;
                    z-index: 2;
                    border-radius: 100px;
                }
                .qualifi-info .collage {
                    font-size: 14px;
                    font-weight: 400;
                }
                .qualifi-info {
                    min-width: 150px;
                    width: 150px;
                }

                .qualifi-info .session {
                    margin: 0 0 10px 0;
                    padding: 0;
                }

                .qualifi-info .collage {
                    color: #ffffff;
                    margin: 0 0 10px 0;
                    padding: 0;
                }

                .qualifi-info .session:after {
                    border-width: calc(6px / 2);
                }

                .qualifi-content {
                    margin: 0 0 18px 0;
                }

                .qualifi-content .title {
                    color: #ffffff;
                    margin: 0 0 20px 0;
                    padding: 0;
                }
                
            }
            

            
            .slick-arrow {
                color: #1f2235;
                font-size: 16px;
                background-color: $light-cyan;
                height: 50px;
                line-height: 50px;
                width: 50px;
                text-align: center;
                border-radius: 100px 100px 100px 100px;
                &::before {
                    display: none;
                }
            }
            
            .slick-arrow.slick-prev {
                position: absolute;
                left: 125px;
                top: -25px;
                border-radius: 50px 50px 50px 50px;
                display: block;
            }
            
            .slick-arrow.slick-next {
                position: absolute;
                left: 125px;
                bottom: -25px;
                border-radius: 50px 50px 50px 50px;
                display: block;
            }